/* CSS Custom Properties Definitions */
:root {
  color-scheme: light dark;
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-dark: rgb(44, 44, 44);
  --color-lightdark: rgb(66, 66, 66);
  --color-lightdark-translucent: rgba(66, 66, 66, 0.8);
  --color-light: #ededed;
  --color-lightgreen: rgb(211, 255, 207);
  --color-darkgreen: rgb(0, 57, 0);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "ibm-plex-sans";
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-normal);
  color: light-dark(var(--color-text), var(--color-light));
  background-color: light-dark(white, var(--color-dark));
  word-break: keep-all;
  overflow-wrap: break-word;
}
body.theme-reverse {
  color: light-dark(var(--color-light), var(--color-text));
  background-color: light-dark(var(--color-dark), white);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: light-dark(var(--color-heading), var(--color-light));
}

body.theme-reverse h2,
body.theme-reverse h3,
body.theme-reverse h4,
body.theme-reverse h5,
body.theme-reverse h6 {
  color: light-dark(var(--color-light), var(--color-heading));
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: light-dark(var(--color-heading-black), white);
}

body.theme-reverse h1 {
  color: light-dark(white, var(--color-heading-black));
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

figure p {
  margin-bottom: 5px;
}

figcaption {
  text-align: center;
  font-size: smaller;
  color: rgb(143, 143, 143);
}

img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

table {
  text-align: center;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: light-dark(var(--color-text-light), var(--color-light));
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
  border-color: light-dark(black, white);
}
body.theme-reverse blockquote {
  color: light-dark(var(--color-light), var(--color-text-light));
  border-color: light-dark(white, black);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  text-decoration: underline;
  color: light-dark(green, var(--color-lightgreen));
}
body.theme-reverse a {
  color: light-dark(var(--color-lightgreen), green);
}

a:hover,
a:focus {
  font-weight: bold;
}
details {
  padding: 0 2rem;
  margin-top: 0;
}
summary {
  font-size: larger;
  display: block;
  padding: 1rem 3rem 1rem 0;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
summary::before,
summary::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: light-dark(black, white);
  left: -2rem;
  top: 2rem;
}
summary::after {
  transform: rotateZ(90deg);
}

details[open] summary::after {
  display: none;
}
body.theme-reverse summary::before,
body.theme-reverse summary::after {
  background-color: light-dark(white, black);
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: light-dark(black, white);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}
body.theme-reverse h2.post-list-item {
  color: light-dark(white, black);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-3);
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  font-weight: var(--fontWeight-normal);
  margin-bottom: var(--spacing-0);
}

.bio-quote {
  display: block;
}
.bio-quote p {
  font-style: italic;
  font-family: "Georgia"; /* 명언에 어울리는 서체 선택 */
  font-size: var(--fontSize-1); /* 폰트 크기 조절 */
  font-weight: var(--fontWeight-black); /* 폰트 두께를 중간 정도로 설정 */
  line-height: 1.6; /* 줄 간격을 편안하게 조절 */
  color: #6a6868; /* 폰트 색상 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  margin: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-20) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.custom-button {
  padding: 8px 15px;
  color: light-dark(#fff, black);
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
body.theme-reverse .custom-button {
  color: light-dark(black, white);
}

.top-ui {
  z-index: 10;
  position: fixed;
  vertical-align: middle;
  padding-left: 20px;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  background-color: light-dark(
    rgba(245, 245, 245, 0.8),
    var(--color-lightdark-translucent)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "ibm-plex-sans";
}
body.theme-reverse .top-ui {
  background-color: light-dark(
    var(--color-lightdark-translucent),
    rgba(245, 245, 245, 0.8)
  );
}

.top-ui a {
  text-decoration: none;
}

.top-ui-title {
  width: fit-content;
  color: light-dark(black, white);
  transition: all 0.5s ease;
}
body.theme-reverse .top-ui-title a {
  color: light-dark(white, black);
}
.top-ui-title:hover {
  text-shadow: 2px 2px 2px darkgray;
  transition: all 0.5s ease;
  transform: scale(1.05);
  color: rgba(109, 158, 12);
}
.top-ui-title:active {
  padding-top: 3px;
  padding-left: 3px;
}

.tag-button-container {
  display: flex;
  flex-wrap: wrap;
}
.tag-button {
  margin: 10px;
  font-size: 13px;
  font-weight: 600;
  color: light-dark(black, white);
  background-color: light-dark(rgba(169, 248, 11, 0.5), yellowgreen);
  border: none;
  z-index: 1;
}
a.tag-button {
  text-decoration: none;
}

body.theme-reverse .tag-button {
  color: light-dark(white, black);
  background-color: light-dark(yellowgreen, rgba(169, 248, 11, 0.5));
}
.tag-button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(109, 158, 12, 0.5);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.tag-button:hover {
  color: #fff;
}
.tag-button:hover:after {
  left: 0;
  width: 100%;
}
.tag-button:active {
  top: 2px;
}
.tag-button.pressed {
  background-color: rgba(109, 158, 12, 0.5);
}
.post-list-item-title {
  transition: all 0.3s ease;
}
.post-list-item-title:hover {
  transition: all 0.3s ease;
  text-shadow: 2px 2px 2px darkgray;
}
.top-ui-tag {
  float: right;
  margin-right: 20px;
  color: light-dark(rgb(88, 88, 88), --color-light);
  transition: all 0.5s ease;
  font-weight: var(--fontWeight-bold);
}
body.theme-reverse .top-ui-tag {
  color: light-dark(--color-light, rgb(88, 88, 88));
}
.top-ui-tag:hover {
  color: black;
  text-shadow: 2px 2px 2px darkgray;
  transition: all 0.5s ease;
  transform: scale(1.05);
}
.progress-bar {
  top: calc(70px - 4px);
  z-index: 10;
  position: fixed;
  height: 4px;
  background-color: rgb(129, 193, 0);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
  .top-ui {
    height: 60px;
  }
  .progress-bar {
    top: calc(60px - 3px);
  }
}

.smaller {
  font-size: smaller;
}
.xx-large {
  font-size: xx-large;
}
.x-large {
  font-size: x-large;
}

#light-or-dark {
  cursor: pointer;
}

.toc-container {
  position: fixed;
  top: 25%;
  right: 0;
  width: 25%;
  height: 75%;
  overflow-y: auto;
  padding: 0;
  margin: 0 10px;
}

.toc {
  /* border-left: gray solid 1px; */
  border-left: rgba(191, 191, 191, 0.5) solid 3px;
  padding-left: 10px;
  opacity: 0.75;
}

.toc a {
  text-decoration: none;
  color: light-dark(var(--color-darkgreen), var(--color-lightgreen));
  padding-left: 10px;
}
.toc a:hover {
  font-weight: bolder;
}

body.theme-reverse .toc a {
  color: light-dark(var(--color-lightgreen), var(--color-darkgreen));
}
.toc ul {
  margin-top: 0;
  padding-top: 0;
}

.toc li {
  list-style-type: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 2px;
}
.toc p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}

.toc-container a.activated {
  text-decoration: underline;
}

@media (max-width: 85rem) {
  .toc-container {
    position: static;
    width: 100%;
    height: auto;
  }
}
